# Node
node_modules/

# Dependency lock
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Others
*.txt
backend/uploads/avatars/*.jpg
backend/uploads/avatars/*.png